/* Create variable fonts for standard and italics versions of the fontface used by the org (Montserrat by Google) */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format("truetype-variations");
    font-weight: 100 900;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Italic-VariableFont_wght.ttf') format("truetype-variations");
    font-weight: 100 900;
    font-style: italic;
}

/* Reset rules (spacing, font override) */
html, body, header, main, footer, div, 
p, h1, h2, h3, h4, h5, h6, ul, ol, li, 
input, select, textarea, form, section, label {
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    /* CSS variables that will be used across the page */
    --page-background-color: #ffffff;
    --page-font-color: #333333;

    --shadow-and-border-color: #e8e8e8;

    --main-color: #2f4159;
    --accent-color: #f5c16e;
    --secondary-accent-color: #f6a4b5;

    --button-font-color: white;
    --button-padding: 0.5rem 1.5rem;
    --button-border-radius: 0.25rem;

    --standard-border: 1px solid #333333;
    --text-field-border: 2px solid #e8e8e8;

    /* Global rules */
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 300;
}

/* Page Sections */

body {
    background-color: var(--page-background-color);
    color: var(--page-font-color);
    font-family: Montserrat;
}

header > img {
    height: 5rem;
}

nav {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 300;
}

header ul > li, header span {
    font-size: 0.75rem;
    list-style-type: none;
}

nav {
    width: 100%;
}

nav ul {
    display: inline-flex;
    flex-direction: row;
    gap: 1.5rem;
}

nav img {
    height: 3rem;
}

nav ul li a {
    color: var(--main-color);
    font-weight: 500;
    text-decoration: none;
    transition: color .3s;
}

nav ul li a:hover {
    color: var(--accent-color);
}

.navbar-toggler {
    display: none;
}

span.logo {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1rem;
}

#menu-toggle {
    display: none;
    height: 1.5rem;
}

nav {
    position: fixed;
    margin-top: -5rem;
    background-color: var(--page-background-color);
    /* box-shadow: 0px 3px 1rem var(--shadow-and-border-color); */
    border-bottom: 2px solid var(--shadow-and-border-color);
    max-width: 100vw;
}

body {
    margin-top: 5rem;
}

#vms-logo {
    color: var(--main-color);
    font-weight: 300;
    font-size: 1.5rem;
}

/* Header mobile rules */
@media only screen and (max-width: 1079px) {
    nav {
        flex-direction: column;
        background-color: var(--page-background-color);
    }

    nav ul {
        width: 100%;
        padding-left: 1rem;
        display: inline-flex;
        flex-direction: column;
        align-items: left;
        display: none;
        margin-top: 1rem;
        border-bottom: 2px solid #e8e8e8;
    }

    nav ul li.sub-item {
        margin-left: 1rem;
    }

    #menu-toggle {
        display: inline;
        filter: opacity(0.25);
    }

    .nav-divider {
        display: none;
        /* position: absolute; */
    }

    #nav-top {
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 2rem);
        display: flex;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

/* Main Content */

main:not(.login) {
    padding: 1rem;
}

/* Form Controls */

input[type=text], input[type=password], select, textarea {
    border: var(--text-field-border);
    border-radius: 0;
    padding: 0.5rem;
    width: 100%;
    background-color: var(--page-background-color);
    margin-bottom: 0.5rem;
}

input[type=text]:focus, input[type=password]:active, select:active, textarea:focus {
    outline: var(--text-field-border);
}

input[type=submit], button {
    color: var(--button-font-color);
    background-color: var(--main-color);
    padding: var(--button-padding);
    border: none;
    border-radius: var(--button-border-radius);
    font-weight: 500;
    width: 100%;

    transition: background-color .3s;
    cursor: pointer;
}

input[type=submit]:hover, button:hover {
    background-color: var(--accent-color);
}

label {
    color: var(--main-color);
    font-weight: 600;
    width: 100%;
    text-align: left;
}

/* Login Form */
main.login > form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 24rem;
    max-width: calc(100vw - 2rem);
    gap: 0.5rem;
}

main.login > form > p {
    width: 100%;
    text-align: center;
}

main.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main.login > p {
    margin-bottom: 1rem;
}

h1 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
    background-color: var(--main-color);
    color: var(--page-background-color);
    width: 100%;
    text-align: center;
    padding: 1rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

@media only screen and (max-width: 1079px) {
    :root {
        font-size: 16px;
    }

    h1 {
        font-size: 1.25rem;
    }
}

/* Calendar */
table#calendar {
    border-spacing: 0;
    width: 100%;
    border-collapse: collapse;
}

.calendar-week {
    width: 100%;
}

.calendar-day {
    height: 20vh;
    width: 14.25%;
    border: var(--standard-border);
}