/**

CSS Handwritten by Lauren Knight
Fonts and Icons used in the design are taken from
Google's Fonts and Icons website.

The design was inspired by the existing Gwyneth's Gift website,
but no code was taken from there. All of the code below is original code.
**/


/* Create variable fonts for standard and italics versions of the fontface used by the org (Montserrat by Google) */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format("truetype-variations");
    font-weight: 100 900;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Italic-VariableFont_wght.ttf') format("truetype-variations");
    font-weight: 100 900;
    font-style: italic;
}

/* Reset rules (spacing, font override) */
html, body, header, main, footer, div, span, 
p, h1, h2, h3, h4, h5, h6, ul, ol, li, 
input, select, textarea, form, section, label,
table, td, tr, th, form, fieldset, em, button, a {
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    text-decoration: none;
    font-style: normal;
    box-sizing: border-box;
    text-align: left;
    list-style-type: none;
    border-spacing: 0;
}

:root {
    /* CSS variables that will be used across the page */
    --page-background-color: #ffffff;
    --page-font-color: #333333;
    --inactive-font-color: #d0d0d0;
    --inactive-background-color: #f0f0f0;
    --standout-background: #fafafa;

    --happy-toast-background-color: #1a7024;
    --happy-toast-font-color: white;

    --info-toast-background-color: #2f2f2f;
    --info-toast-font-color: white;

    --error-toast-background-color: #701a1a;
    --error-toast-font-color: white;

    --shadow-and-border-color: #e8e8e8;

    --main-color: #2f4159;
    --accent-color: #f5c16e;
    --secondary-accent-color: #f6a4b5;

    --calendar-event-color: #808080;
    --calendar-event-color-hover: var(--main-color);
    --calendar-today-border: 2px solid var(--secondary-accent-color);

    --button-font-color: white;
    --button-padding: 0.5rem 1.5rem;
    --button-border-radius: 0.25rem;

    --standard-border: 1px solid #333333;
    --light-border: 1px solid var(--shadow-and-border-color);
    --text-field-border: 2px solid #e8e8e8;

    --error-color: red;

    /* Global rules */
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 300;
}

/* Page Sections */

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

body {
    background-color: var(--page-background-color);
    color: var(--page-font-color);
    font-family: Montserrat;
}

header > img {
    height: 5rem;
}

nav {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 300;
}

header ul > li, header span {
    font-size: 0.75rem;
    list-style-type: none;
}

nav {
    width: 100%;
}

nav ul {
    display: inline-flex;
    flex-direction: row;
    gap: 1.5rem;
}

nav img {
    height: 3rem;
}

nav ul li a {
    color: var(--main-color);
    font-weight: 500;
    text-decoration: none;
    transition: color .3s;
}

nav ul li a:hover {
    color: var(--accent-color);
}

span.logo {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1rem;
}

#menu-toggle {
    display: none;
    height: 1.5rem;
}

nav {
    /* position: fixed; */
    /* margin-top: -5rem; */
    background-color: var(--page-background-color);
    /* box-shadow: 0px 3px 1rem var(--shadow-and-border-color); */
    border-bottom: 2px solid var(--shadow-and-border-color);
    max-width: 100vw;
}

#vms-logo {
    color: var(--main-color);
    font-weight: 300;
    font-size: 1.5rem;
}

/* Header mobile rules */
@media only screen and (max-width: 1079px) {
    nav {
        flex-direction: column;
        background-color: var(--page-background-color);
    }

    nav ul {
        width: 100%;
        padding-left: 1rem;
        display: inline-flex;
        flex-direction: column;
        align-items: left;
        display: none;
        margin-top: 1rem;
    }

    nav ul li.sub-item {
        margin-left: 1rem;
    }

    #menu-toggle {
        display: inline;
        filter: opacity(0.25);
    }

    .nav-divider {
        display: none;
    }

    #nav-top {
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 2rem);
        display: flex;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

/* Main Content */

main:not(.login):not(.calendar-view):not(.dashboard) {
    padding: 1rem;
}

/* Form Controls */

input[type=text], input[type=password], input[type=date], input[type=email], 
input[type=tel], select, textarea, .pseudo-input, .pseudo-input-disabled {
    border: var(--text-field-border);
    border-radius: 0;
    padding: 0.5rem;
    width: 100%;
    background-color: var(--page-background-color);
    margin-bottom: 0.5rem;
}

input[type=text]:disabled, input[type=password]:disabled, input[type=date]:disabled, 
input[type=email]:disabled, input[type=tel]:disabled, select:disabled, textarea:disabled,
.pseudo-input-disabled {
    background-color: var(--inactive-background-color);
    color: var(--inactive-font-color);
}

input[type=text]:focus, input[type=password]:active, input[type=email]:focus, input[type=date]:focus, input[type=tel]:focus, select:active, textarea:focus {
    outline: var(--text-field-border);
}

input[type=submit], button, .button {
    color: var(--button-font-color);
    background-color: var(--main-color);
    padding: var(--button-padding);
    border: none;
    border-radius: var(--button-border-radius);
    font-weight: 500;
    width: 100%;

    transition: background-color .3s;
    cursor: pointer;
    text-align: center;
}

input[type=submit]:hover, button:hover, .button:hover {
    background-color: var(--accent-color);
}

/* input.visited:invalid {
    outline: 2px solid var(--secondary-accent-color);
} */

label {
    color: var(--main-color);
    font-weight: 600;
    width: 100%;
    text-align: left;
}

/* Login Form */
main.login > form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 24rem;
    max-width: calc(100vw - 2rem);
    gap: 0.5rem;
}

main.login > form > p {
    width: 100%;
    text-align: center;
}

main.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main.login > p {
    margin-bottom: 1rem;
}

h1 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
    background-color: var(--main-color);
    color: var(--page-background-color);
    width: 100%;
    text-align: center;
    padding: 1rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

h3 {
    font-size: 1.25rem;
    font-weight: 400;
}

@media only screen and (max-width: 1079px) {
    :root {
        font-size: 16px;
    }

    h1 {
        font-size: 1.25rem;
    }
}

/* General Use */
.error {
    color: var(--error-color);
    font-size: .75rem;
}

.hidden {
    display: none !important;
}

.centered {
    text-align: center;
}

.button {
    display: inline-block;
}

.no-span {
    width: auto;
}

.happy-toast {
    background-color: var(--happy-toast-background-color);
    color: var(--happy-toast-font-color);
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.info-toast {
    background-color: var(--info-toast-background-color);
    color: var(--info-toast-font-color);
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.error-toast {
    background-color: var(--error-toast-background-color);
    color: var(--error-toast-font-color);
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    /* border: 1px solid var(--error-toast-font-color);
    outline: 3px solid var(--error-toast-background-color) */
}

/* Calendar */
table#calendar {
    border-spacing: 0;
    width: calc(100% - 1rem);
    border-collapse: collapse;
    margin: 0rem 0.5rem 0.5rem 0.5rem;
}

main.calendar-view th {
    text-align: center;
    font-weight: 400;
}

.calendar-week {
    width: 100%;
}

.calendar-day {
    height: 20vh;
    width: 14.25%;
    border: var(--light-border);
    cursor: pointer;
}

@media only screen and (max-width: 900px) {

    div#table-wrapper, div.table-wrapper {
        overflow-x: auto;
    }

    .calendar-day {
        min-width: 8rem;
    }
}

.calendar-day:hover:not(.other-month) {
    outline: 2px solid var(--accent-color);
}

.calendar-day-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    gap: 1px;
}

.calendar-day-number {
    padding-left: 0.5rem;
}

.calendar-event {
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    transition: background-color .2s;
}

.calendar-event:hover {
    /* filter: brightness(1.2); */
    background-color: var(--calendar-event-color-hover);
}

.calendar-event {
    background-color: var(--calendar-event-color);
    color: var(--button-font-color);
}

.other-month {
    color: var(--inactive-font-color);
    background-color: var(--inactive-background-color);
}

.today {
    border: var(--calendar-today-border);
}

h1.calendar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1.calendar-header a {
    color: white;
    text-decoration: none;
    word-wrap: none;
}

#previous-month-button, #next-month-button {
    height: 2rem;
    filter: invert();
    cursor: pointer;
}

#month-jumper {
    visibility: hidden;
    position: absolute;
    z-index: -1;
}

/* Dashboard */
main.dashboard {
    padding: 0 8rem 4rem 8rem;
}

main.dashboard > p {
    text-align: center;
    margin-bottom: 0.5rem;
}

#dashboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    /* padding: 0 8rem 4rem 8rem; */
    margin-top: 2rem;
    gap: 3rem;
    justify-content: center;
}

.dashboard-item {
    display: inline;
    background-color: var(--main-color);
    transition: background-color .3s;
    font-weight: 400;
    border-radius: 1rem;
    padding: 2rem;
    color: var(--button-font-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 14rem;
    height: 14rem;
}

.dashboard-item:hover {
    background-color: var(--accent-color);
    cursor: pointer;
    text-shadow: 0px 0px .25rem black;
}

.dashboard-item > img {
    filter: invert();
    height: 4rem;
}

@media only screen and (max-width: 680px) {
    main.dashboard {
        padding: 1rem;

    }
    #dashboard {
        gap: 1rem;
    }

    .dashboard-item {
        padding: 1rem;
        width: 10rem;
        height: 10rem;
        font-size: 0.8rem;
    }
}

/* Sign up form */

@media only screen and (min-width: 1024px) {
    main.signup-form {
        margin: 0rem 8rem 4rem 8rem;
    }
}

form.signup-form {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

form.signup-form > fieldset {
    padding: 1.5rem;
    display: flex;
    gap: .5rem;
    flex-direction: column;
}

form.signup-form > fieldset > label {
    margin-bottom: -.25rem;
}

form.signup-form textarea {
    height: 7rem;
}

form.signup-form em {
    color: var(--secondary-accent-color);
}

.radio-group {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 1rem;
}

.radio-group > label {
    font-weight: 300;
    width: fit-content;
    margin-left: -.75rem;
    color: var(--page-font-color);
}

.availability-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.availability-day {
    width: 10rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.availability-day-header {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

}

.checkbox-grouping {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.checkbox-pair {
    display: flex;
    flex-direction: row;
    gap: .25rem;
    align-items: center;
}

.checkbox-grouping label {
    font-weight: 300;
}

@media only screen and (max-width: 700px) {
    .availability-day {
        width: 100%;
    }
}

/* Day view */
fieldset.event {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    padding: 1rem;
}

main.date {
    gap: 1rem;
    margin-bottom: 4rem;
}

main.date p.none-scheduled {
    padding: 4rem 0;
    text-align: center;
}

@media only screen and (min-width: 1024px) {
    main.date {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main.date > * {
        width: 80%;
    }
    main.date > span {
        text-align: left;
    }
}

table.event td:first-of-type {
    width: 1px;
    white-space: nowrap;
}

table.event td {
    padding: 0.5rem 1rem;
}

table.event th {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background-color: var(--main-color);
    color: var(--button-font-color);
    padding: 1rem 1rem;
    font-weight: 500;
    cursor: pointer;
}

table.event tr:first-of-type > td {
    padding-top: 1rem;
}

table.event {
    border-bottom: 3px solid var(--shadow-and-border-color);
    padding-bottom: 1rem;
    background-color: var(--standout-background);
}

/* Event Search Page */
main.search-form {
    gap: 1rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
}

main.search-form form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

@media only screen and (min-width: 1024px) {
    main.search-form {
        width: 100%;
        align-items: center;
    }
    main.search-form > * {
        width: 80%;
    }
    main.search-form > span {
        text-align: left;
    }
}

/* Event page, event media */
form.media-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#attach-post-media {
    text-align: center;
    cursor: pointer;
    padding: 0.5rem;
    display: block;
}

#attach-training-media {
    text-align: center;
    cursor: pointer;
    padding: 0.5rem;
    display: block;
}

#edit-profile-picture{
	cursor: pointer;
	display: block;
}

.edit-profile-picture-unclicked {
  text-align: left;
  cursor: pointer;
  display: block;
}

.edit-profile-picture-clicked {
  text-align: center;
  cursor: pointer;
  display: block;
}

tr.media img {
    max-width: 8rem;
}

/* General Use (used by User Search, ...) */
main.general, form.general {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

main.general fieldset {
    padding: 1.0rem;
    display: flex;
    gap: .5rem;
    flex-direction: column;
}

table.general {
    width: 100%;
    padding-bottom: 1rem;
}

table.general th:first-of-type {
    border-top-left-radius: .25rem;
}

table.general th:last-of-type {
    border-top-right-radius: .25rem;
}

table.general th {
    background-color: var(--main-color);
    color: var(--button-font-color);
    font-weight: 500;
}

table.general th, table.general td {
    padding: 1rem;
    white-space: nowrap;
}

.standout {
    border-bottom: 3px solid var(--shadow-and-border-color);
    padding: 1rem;
    background-color: var(--standout-background);
}

@media only screen and (min-width: 1024px) {
    main.general, form.general {
        margin: 0rem 8rem 4rem 8rem;
    }
}