/* Fonts & Colors */

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Figtree;
    src: url(../fonts/Figtree-VariableFont_wght.ttf) format("truetype-variations");
    font-weight: 100 900;
}

@font-face {
    font-family: ShadowsIntoLight;
    src: url(../fonts/ShadowsIntoLightTwo-Regular.ttf) format("truetype-variations");
    font-weight: 400;
}

.logo {
    font-family: ShadowsIntoLight;
    user-select: none;
}

.medium {
    font-size: 1.5rem;
}

.big {
    font-size: 2rem;
}

.bigger {
    font-size: 3rem;
}

.biggest {
    font-size: 4rem;
}

.visible-flex {
    display: flex;
}

@property --gradient-center {
    syntax: '<integer>';
    inherits: true;
    initial-value: 330;
}
@property --gradient-outer {
    syntax: '<integer>';
    inherits: true;
    initial-value: 300
    ;
}
@property --button-left {
    syntax: '<integer>';
    inherits: true;
    initial-value: 200;
}

@property --button-right {
    syntax: '<integer>';
    inherits: true;
    initial-value: 280;
}

:root {
    transition: all 200ms;
    --gradient-center: 330;
    --gradient-outer: 300;
    --button-left: 200;
    --button-right: 280;
}

:root.correct {
    --gradient-center: 120;
    --gradient-outer: 100;
    --button-left: 85;
    --button-right: 115;
    /* --gradient-center: hsl(120, 100%, 20%);
    --gradient-outer: hsl(100, 100%, 10%); */
    /* animation-fill-mode: forwards; */
}

:root.incorrect {
    --gradient-center: 359;
    --gradient-outer: 350;
    --button-left: 359;
    --button-right: 350;
    /* --gradient-center: hsl(120, 100%, 20%);
    --gradient-outer: hsl(100, 100%, 10%); */
    /* animation-name: wrong-anim; */
    /* animation-duration: 1s; */
    /* animation-fill-mode: forwards; */
}

@keyframes correct-anim {
    0%, 100% {
        /* --gradient-center: 330;
        --gradient-outer: 300; */
        filter: none;
    }
    30%, 60% {
        filter: hue-rotate(-125deg);
    }
}

@keyframes incorrect-anim {
    0%, 100% {
        /* --gradient-center: 330;
        --gradient-outer: 300; */
        filter: none;
    }
    30%, 60% {
        /* --gradient-center: 359;
        --gradient-outer: 350;
        --button-left: 359;
        --button-right: 350; */
        filter: hue-rotate(110deg);
    }
}

html {
    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    background-color: hsl(300, 100%, 10%);
    /* background: linear-gradient(to bottom right, hsl(330, 100%, 20%), hsl(300, 100%, 10%)); */
    background: radial-gradient(hsl(var(--gradient-center), 100%, 20%), hsl(var(--gradient-outer), 100%, 10%));
    color: white;
    min-height: 100vh;
    /* overscroll-behavior-y: none; */
}

/* Headings, Links */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    height: fit-content;
}

h1.logo {
    font-size: 4rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.125rem;
}

a:not(.button) {
    transition: color 200ms;
}

/* Layout */


/* Header */

header a:hover {
    color:hsl(30, 100%, 50%);
}

header {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    background-color: hsla(0, 0%, 0%, 25%);
    width: 100%;
    padding: 0.25rem 1rem 0.25rem 1rem;
    position: sticky;
    gap: 1rem;
}

header > .logo {
    font-size: 1rem;
}

header > ul {
    display: none;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    /* Credit https://codinhood.com/micro/10-dropdown-menu-animations-css-transform*/
    animation: rotateMenu 400ms ease-in-out forwards;
    transform-origin: top center;
}

@keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg)
    }
    70% {
        transform: rotateX(20deg) 
    }
    100% {
        transform: rotateX(0deg) 
    }
}

header > ul > li {
    display: block;
    list-style-type: none;
    font-family: Figtree;
    font-weight: 100;
}

#menu-button {
    width: 1.5rem;
    float: right;
    filter: invert(1);
}

@media only screen and (min-width: 428px) {
    header {
        flex-direction: row;
        justify-content: center;
    }
    header > ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        animation: none;
    }
    header > ul > li {
        display: inline;
    }
    #menu-button {
        display: none;
    }
}

/* Form Controls */
input, button {
    border: none;
}

input[type=text], input[type=password], input[type=email] {
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: white;
    color: black;
}

a.button, input[type=submit], button {
    text-align: center;
    padding: 0.5rem 1rem;
    background-image: linear-gradient(to right, hsl(var(--button-left), 100%, 35%), hsl(var(--button-right), 100%, 35%));
    border-radius: 0.5rem;
    font-family: Figtree;
    transition: filter 200ms;
}

a.button:hover:not(:disabled), input[type=submit]:hover:not(:disabled), button:hover:not(:disabled) {
    filter: brightness(1.5);
}

a.button:disabled, input[type=submit]:disabled, button:disabled {
    filter: grayscale(1);
}

a.button:hover {
    color: inherit;
}

/* Main Content */
main, form {
    margin: 0.5rem;
    padding: 1.0rem;
    border-radius: 1rem;
    /* border: 1px solid hsl(315, 100%, 30%); */
    /* box-shadow: 0px 0px 1rem hsla(0, 0%, 0%, 50%); */
    background-color: hsla(0, 0%, 0%, 25%);
    /* min-height: calc(100vh - 1rem); */
    max-width: 35rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

main input[type=text] {
    text-align: center;
    font-size: 1.5rem;
}

form a:not(.button), main a:not(.button) {
    color: hsl(30, 100%, 50%);
    /* font-weight: 600; */
}

form a:hover:not(.button), main a:not(.button) {
    color:hsl(30, 100%, 75%);
}

form > p {
    text-align: center;
}

body > h1, body > h4, main > h4, form > h4, main > span, main > h5, main > h1 {
    text-align: center;
}

p {
    font-family: Figtree;
    font-weight: 100;
}

@media only screen and (min-width: 428px) {
    html {
        font-size: 24px;
    }
    main, form {
        margin-left: auto;
        margin-right: auto;
    }
}

.error-message, .success-message {
    font-size: 0.6rem;
}

.error-message {
    text-align: center;
    padding: 0.5rem;
    background-color: hsl(12, 100%, 25%);
    border: 1px solid hsl(12, 100%, 50%);
    border-radius: 1rem;
}

.success-message {
    text-align: center;
    background-color: hsl(130, 100%, 20%);
    border: 1px solid hsl(130, 100%, 50%);
    /* animation: fade-in 0.5s;
    animation-fill-mode: forwards; */
    padding: 0.5rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
}