main > div {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
}

p {
    text-align: center;
}

#term-english, #term-french {
    text-align: center;
}

#speak-button {
    cursor: pointer;
}

#speak-button:hover:not(.disabled) {
    filter: brightness(1.2);
}

#speak-button.disabled {
    filter: saturate(0);
}