html, body, main, p, h1, h2, h3, h4, h5, ul, li, a, header, label, input, form, button {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}