{% extends 'basictemplate.html' %}
{% block head %}
<script src="{{ url_for('static', filename='scripts/numberspractice.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='style/numberspractice.css')}}">
{% endblock %}
{% block main %}
        <h1 class="logo">étudamie</h1>
        {% if welcome %}
        <h4>Welcome back, {{ name }}!</h4>
        {% endif %}
        <main>
            <h4>Choose an activity</h4>
            <a class="medium button" href="">Vocabulary</a>
            <a class="medium button" href="">Verbs</a>
            <a class="medium button" href="{{ url_for('numbers') }}">Numbers</a>
        </main>
{% endblock %}