{% extends 'basictemplate.html' %}
{% block title %} - add term{% endblock %}
{% block head %}
    <script src="{{ url_for('static', filename='scripts/termaddedit.js') }}"></script>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style/learn.css') }}"> -->
{% endblock %}
{% block main %}
    <h1 class="logo">add term</h1>
    <main>
        {% if prev_id %}
            <div class="success-message">
                Successfully added
                <span {% if prev_gender=='m' %}class='masculine'{% elif prev_gender=='f' %}class='feminine'{% endif %}>
                    {{ prev_french }} ({{ prev_english }})
                </span>
                <a href="{{ url_for('vocab_edit_term', term_id=prev_id, categoryID=category_id) }}">✏️</a>
            </div>
        {% endif %}
        <h4 class="centered">Add Term to '{{ category }}'</h4>
        <form method="post">
            <label>French Main Answer</label>
            <input type="text" id="french" name="french" required>
            <label>English Main Answer</label>
            <input type="text" id="english" name="english" required>
            <label>French Alternate Answers</label>
            <input type="text" id="french-alts" name="french-alts">
            <label>English Alternate Answers</label>
            <input type="text" id="english-alts" name="english-alts">
            <label>Gender</label>
            <div class="radio-container">
                <div class="radio-choice">
                    <input type="radio" name="gender" id="gender-neutral" value="n" required>
                    <label for="gender-neutral">None</label>
                </div>
                <div class="radio-choice">
                    <input type="radio" name="gender" id="gender-masculine" value="m">
                    <label for="gender-masculine">Masculine</label>
                </div>
                <div class="radio-choice">
                    <input type="radio" name="gender" id="gender-feminine" value="f">
                    <label for="gender-feminine">Feminine</label>
                </div>
            </div>
            <input type="submit" value="Add Term">
        </form>
    </main>
{% endblock %}