{% extends 'basictemplate.html' %}
{% block title %} - edit category {{ category }}{% endblock %}
{% block head %}
    <!-- <script src="{{ url_for('static', filename='scripts/vocablearn.js') }}"></script> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/categoryedit.css') }}">
{% endblock %}
{% block main %}
    <h1 class="logo">editing '{{ category }}'</h1>
    <main>
        <form method="post">
            <label>Category Name</label>
            <input type="text" name="name" value="{{ category }}" required>
            <!-- <input type="hidden" name="id" value="{{ category_id }}" required> -->
            <input type="submit" value="Rename">
        </form>
        <h4 class="centered">Terms <a href="{{ url_for('vocab_add_term', category_id=category_id) }}">+</a></h4>
        <table>
            <thead>
                <tr>
                    <th>French</th>
                    <th>English</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for term in terms %}
                    <tr class="{% if term['gender'] == 'm' %}masculine{% elif term['gender'] == 'f' %}feminine{% endif %}">
                        <td>{{ term['french'] }}</td>
                        <td>{{ term['english'] }}</td>
                        <td><a href="{{ url_for('vocab_edit_term', term_id=term['id'], categoryID=category_id) }}">✏️</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}