{% extends 'basictemplate.html' %}
{% block title %} - edit category {{ category }}{% endblock %}
{% block head %}
    <!-- <script src="{{ url_for('static', filename='scripts/vocablearn.js') }}"></script> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style/learn.css') }}"> -->
{% endblock %}
{% block main %}
    <h1 class="logo">editing '{{ category }}'</h1>
    <main>
        <form method="post">
            <label>Category Name</label>
            <input type="text" name="name" value="{{ category }}" required>
            <input type="hidden" name="id" value="{{ category_id }}" required>
            <input type="submit" value="Create">
        </form>
        <table>
            <thead>
                
            </thead>
            <tbody>
                <tr>
                    <td>some stuff will go here, y'all</td>
                </tr>
            </tbody>
        </table>
    </main>
{% endblock %}