{% extends 'basictemplate.html' %}
{% block head %}
<script src="{{ url_for('static', filename='scripts/numberspractice.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='style/numberspractice.css')}}">
{% endblock %}
{% block title %} - vocabulary{% endblock %}
{% block main %}
        <h1 class="logo">Vocabulary</h1>
        <main>
            <h4>Choose a category</h4>
            {% for category in categories %}
            <a class="medium button" href="{{ url_for('vocab_category_view', id=category['id']) }}">{{ category['name'] }}</a>
            {% endfor %}
        </main>
{% endblock %}